#search { 
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.search-input {
    border: none;
    background: rgba(0,0,0,0.2);
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: white;
}

.search-input:hover,
.search-input:active,
.search-input:focus {
    outline: none;
    border-bottom: 2px solid #cf0056;
}

#recipes {
    padding: 1rem;
    width: 60%;
    margin: 0 auto;
}

#recipes button {
    text-align: right;
}

.recipe {
    padding: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    margin: 1rem 0;
}

.recipe-button {
    text-align: right;
}

.recipe:hover {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}